/* global */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
*html {
	overflow:hidden;
	background-color: #F9F9F9;
}
body {
	height:100vh;
}
p {
	font-size: 16px;
	color: #4D4D4D;
	line-height: 24px;
}
a {
	text-decoration: none;
	color:#4285f4;
   outline: 0;
}
a:link {
}
h1 {
	margin: 20px 0 20px 0;
	font-size: 32px;
}
a h2 {
	margin: 4px 0 12px 0;
	font-size: 20px;
}
h3 {
	margin: 18px 0 12px 0;
	font-size: 16px;
	font-weight: 600;
}
/* -------- search Box header ----------- */
#searchBox {
	display: inline;
	float:left;
	/*width:400px;*/
	position:fixed;
	top:5px;
	left:100px;
}
	.header input[type=text] {
		border-radius: 4px;
		background-color: #F1F3F4;
		border: 0px;
	}
	.header input[type=submit] {
		border-radius: 50px;
		border: 0px;
		background-color: #e4e4e4;
		cursor: pointer;
	}

/* results */
#titlResult {
	font-weight: 700;
}
#div-results {
	background-color: #F9F9F9;
}
#resultList {
	position: relative;
	float:left;
	margin-bottom: 70px;
}
#resultList p {
	margin: 10px 0 0 0;
}
.recom-title:link {
	/*color: #000;*/
	font-weight: 100;
}
.recom-title:visited {
	color: #a6a6c7;
}
.recom-title:hover {
	text-decoration: underline;	
}
.recomWrap {
	border-radius: 4px;
	background-color: #FFF;
	padding: 20px;
	margin-bottom: 20px;
}
.recomWrap p {
	font-size: 14;
	font-weight: 100;
}
.miniButton {
	color: #4D4D4D;
	font-size: 14px;
	font-weight: 600;
	border-radius: 4px;
	background-color: #F9F9F9;
	padding: 0 8px 0 8px;
	min-height: 30px;
	margin: 4px 10px 4px 0;
	line-height: 30px;
	border: 1px solid #F9F9F9;
	display:inline-block;
	border: 1px solid #e4e4e4;
}
.miniButton:hover {
	background-color: #F1F3F4;
	color: #000;
	border: 1px solid #D7DBDD;
	box-shadow: 0 0 1.5px #c6c6c6;
}
.header {
	position:fixed;
	background-color: #FFF;
	box-shadow: 0 0 2px 0 rgba(56, 69, 84, 0.2);
	width: 100%;
	padding: 14px;
    z-index: 1;
    display:block;
}
.header form {
	position: fixed;
}
.header a {
	position: absolute;
}
#yanapaqLogo {
	background-size: contain;
	display: inline-block;
	background-position: 50%;
	background-repeat: no-repeat;
}
.previous {
	color:#000;
	position:fixed;
	width: 30px;
	font-size: 36px;
	font-weight: 100;
}

/* ODS color */
.color-ods-1 {
	color: #EC1522;
}
.color-ods-2 {
	color: #D3A00E;
}
.color-ods-3 {
	color: #1D9B43;
}
.color-ods-4 {
	color: #C4192D;
}
.color-ods-5 {
	color: #F13E1D;
}
.color-ods-6 {
	color: #00ACDA;
}
.color-ods-7 {
	color: #FEB700;
}
.color-ods-8 {
	color: #A41440;
}
.color-ods-9 {
	color: #F36B0C;
}
.color-ods-10 {
	color: #E20082;
}
.color-ods-11 {
	color: #FA9D00;
}
.color-ods-12 {
	color: #CE8D15;
}
.color-ods-13 {
	color: #45773A;
}
.color-ods-14 {
	color: #007BBE;
}
.color-ods-15 {
	color: #37B042;
}
.color-ods-16 {
	color: #00538C;
}
.color-ods-17 {
	color: #143368;
}

/* filters*/

#filters {
	background-color: #FFF;
}
#filters div {
	font-size: 14px;
	font-weight: 600;
	margin: 20px 0 12px 0; 
}
.content {
	
	display:block;
	height: 100vh;
	/*position:relative;
	overflow:auto;*/
}
/* ---------- checkbox -------- */
.search-facets {
	list-style: none;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 14px;
}
.search-facets li {
	font-size: 14px;
	line-height: 30px;
}
.search-facets span, .search-facets label {
	display:table-cell;
	text-align: left;
}
.search-facets input {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #d4dcdf;
     color: #666;
     top: 4px;
     height: 18px;
     width: 18px;
     border: 0;
     border-radius: 2px;
     cursor: pointer;     
     outline: none;
}
.search-facets input:hover {
     background-color: #bdc7c9;
}
.search-facets input:checked::before {
     position: absolute;
     left: 7px;
     top: 1px;
     content: '\02143';
     transform: rotate(40deg);
     font-weight: 700;
}
.search-facets input:checked {
     background-color: #4285f4;
     color:#fff;
}
/*.search-facets input[checked]:hover {
     background-color: #2c72e3;
     color:#fff;
}*/
.search-facets input[disabled] {
	background-color: #f3f3f3;
}
.search-facets input[disabled]:hover {
     background-color: #f3f3f3;
     cursor: default;     
}
.search-facets label {
    cursor: pointer;
    color: #000;
}
.search-facets label:hover {
    cursor: pointer;
}
/* ------------------ */
.search-facets2 {
	list-style: none;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 14px;
}
.search-facets2 li {
	font-size: 14px;
	line-height: 30px;
}
.search-facets2 span, .search-facets label {
	display:table-cell;
	text-align: left;
}
.search-facets2 input {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #d4dcdf;
     color: #666;
     top: 4px;
     height: 18px;
     width: 18px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     outline: none;
}
.search-facets2 input:hover {
     background-color: #bdc7c9;
}
.search-facets2 input:checked::before {
     position: absolute;
     left: 7px;
     top: 1px;
     content: '\02143';
     transform: rotate(40deg);
     font-weight: 700;
}
.search-facets2 input:checked {
     background-color: #4285f4;
     color:#fff;
}
/*.search-facets input[checked]:hover {
     background-color: #2c72e3;
     color:#fff;
}*/
.search-facets2 input[disabled] {
	background-color: #f3f3f3;
}
.search-facets2 input[disabled]:hover {
     background-color: #f3f3f3;
     cursor: default;     
}
.search-facets2 label {
    cursor: pointer;
    color: #000;
}
.search-facets2 label:hover {
    cursor: pointer;
}


.facet-title {
	text-align: left;
	padding-left: 7px;
}
label.disable-checkbox {
	color:#b9b9b9;
    cursor: default;   
}
label.disable-checkbox:hover {
    cursor: default;   
}
ul.search-facets input[enable]:hover {
	background-color: #bdc7c9;
}
.f_vermas {
	padding-top: 10px;
}


/* lightbox*/
#light-box {
	background-color: rgba(242, 244, 245, 0.85);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 2;
	text-align: center;
}

/* animation loader */
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #000;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* empty state search */
#empty-state {
	/*margin-top: -60px;*/
	padding-top: 120px;
	text-align: center;
	height:100%;
	vertical-align: middle;
}
#empty-state div22	 {
	position:relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* Recommendation page */
#content-rcm {
	background-color: #FFF;
}
#tools-rcm {
	background-color: #F9F9F9;
}
.recomWrap2 {
	position: relative;
}
.recomWrap2 h1 {
	margin-bottom: 10px;
}
.recomDesc {
	margin-top: 12px;
	font-weight: 100;
}
.linkReport {
	margin-top: 7px;
}
.linkReport, .linkReport:hover {
	color:#4285f4;
}
.eachDnudpi {
	margin: 15px 0;
}
.eachNote {
	border-radius: 4px;
	margin: 20px 0;
	border: 1px solid #e4e4e4;
	padding: 10px 15px;
}
.noteInfo {
	margin-top: 5px !important;
}
.noteBlack {
	font-weight: 600;
}
.primaryButton {
	border-radius: 4px;
	display:block;
	background-color: #9CC35A;
	height:40px;
	color:#fff;
	font-weight: 600;
	margin-bottom: 10px;
	text-align: center;
	font-size: 14px;
}
.secondaryButton {
	display:inline-block;
	color: #4D4D4D;
	font-size: 14px;
	font-weight: 600;
	border-radius: 4px;
	margin-bottom: 12px;
	text-align: center;
	background-color: #E0E0E0;
	padding: 14px 28px;;
	min-height: 40px;
}
.secondaryButton:hover {
	background-color: #d9d9d9;
}

/* Clusters */
#cluster {
	background-color: #F9F9F9;
}

/* yellow fade technique */
@keyframes yellowfade {
    from { background: yellow; }
    to { background: transparent; }
}

.new-item {
    animation-name: yellowfade;
    animation-duration: 1.5s;
}
#numFoundTit {
	font-size: 12px;
	margin-bottom:20px;
}
#orderSelect {
	
}
#focusButton {
	position: fixed;
	text-align: center;
	bottom: 0; 
	background-color: #9CC35A;
	height: 60px;
	width: 100%;
	padding: 18px;
    z-index: 1;
    color:#fff;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
	-webkit-box-shadow: 4px 0px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
    box-shadow: 4px 0px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
}
#focusButton:hover {
	background-color: #89b73a;
}
#subTitResult {
	font-size: 16px;
	margin-bottom: 20px;
	margin-top: 20px;
}
#orderCombo {
	position: relative;
	float:right;
}

/* On screens that are 600px or less */
@media screen and (max-width: 770px) and (min-width: 1px) {

	#yanapaqLogo {
		background-image: url(../wp-content/uploads/thegem-logos/logo_299d426a44fa2bef59cdd10ee17ba67e_2x.png);
		height: 32px;
		width: 132px;
	}
	.header {
		height: 63px;
	}
	.header a {
		top: 16px;
		right: 21px;
	}
	.previous {
		left: 20px;
		top:8px !important;
	}
	.header form {
		top:11px;
		left:40px;
	}
	.header input[type=text] {
		width: 160px;
		height: 40px;
		padding: 10px;
		font-size: 18px;
	}
	.header input[type=submit] {
		margin-left: -22px;
		height: 32px;
		width: 32px;
	}
	#filters {
		display:none;
		float: none;
		width:100%;
		height: 200px;
		padding:2px 6% 80px 6%;
		overflow:scroll;
		position:relative;
		-moz-box-shadow:    inset  0  5px 5px -5px grey, 
		                    inset  0 -5px 5px -5px grey;
		-webkit-box-shadow: inset  0  5px 5px -5px grey, 
		                    inset  0 -5px 5px -5px grey;
		 box-shadow:        inset  0  5px 5px -5px grey, 
		                    inset  0 -5px 5px -5px grey;
	}
	#div-results {
		float: none;
		width:100%;
		padding:10px 20px 10px 20px;
		position: absolute;
	}
	#filtHeader {
		display: block;
		height: 110px;
		background-color: #F9F9F9;
		text-align: center;
		padding-bottom: 10px;
		border: 1px solid #e5e5e5;
	}
	.bottom-facet {
		padding-bottom: 14px !important;
	}
	#showFilt, #hideFilt {
		width: 120px;
		height: 24px;
		position: relative;
		margin: 0 auto;
		top: 72%;
		padding-top: 3px;
		padding-bottom: 3px;
		cursor: pointer;     
	}

	/* ------ Recom detail page --------*/
	#recomContainer {
		display:block;
		float:none;
		width:100%;
		padding:80px 3% 10px 3%;
	}
	#tools-rcm {
		display: block;
		float:none;
		width:100%;
		padding:30px 20px 70px 20px;
		position:absolute;
	}
	.secondaryButton {
		width: 100%;
	}
	.recomWrap2 {
		padding-bottom: 20px;
		float:none;
		width: 100%;
	}

	/* ------- Clusters ---------*/
	#cluster {
		float: none;
		width:100%;
		height: 100vh;
		padding:70px 20px 10px 20px;
		position: fixed;
		overflow:scroll;
		top:0;
		right:1;
	}
}

/* On screens that are 600px or less */
@media screen and (min-width: 771px) {

	#yanapaqLogo {
		background-image: url(../wp-content/uploads/thegem-logos/logo_9ab4c54d808b2a6f18a85b078c92c70b_3x.png);
		height: 60px;
		width: 164px;
	}
	.header {
		height: 90px;
	}
	.header a {
		top: 16px;
		right: 37px;
	}
	.previous {
		left: 44px;
		top:20px !important;
	}
	.header form {
		top:25px;
		left:120px;
	}
	.header input[type=text] {
		width: 300px;
		height: 40px;
		padding: 10px;
		font-size: 18px;
	}
	.header input[type=submit] {
		margin-left: -42px;
		top: -10px;
		height: 32px;
		width: 32px;
	}	
	#filters {
		float:left;
		display:block;
		width:30%;
		height: 100vh;
		padding:90px 3% 80px 3%;
		overflow:scroll;
	}
	#div-results {
		float: right;
		height: 100%;
		width:70%;
		padding:90px 40px 10px 40px;
		overflow:scroll;
	}
	#filtHeader {
		display: none;
	}
	.bottom-facet {
		padding-bottom: 80px !important;
	}
	/* ------ Recom detail page --------*/
	#tools-rcm {
		float: right;
		width:30%;
		height: 100vh;
		padding:130px 30px 10px 50px;
		position: fixed;
		overflow:scroll;
		top:0;
		right:0;
	}
	#recomContainer {
		float: left;
		width:70%;
		height: 100vh;
		padding:130px 3% 10px 3%;
		position:absolute;
	}
	.secondaryButton {
		width: 100%;
	}
	.recomWrap2 {
		padding-bottom: 100px;
		float: right;
		max-width: 620px;
	}
	
	/* ------- Clusters ---------*/
	#cluster {
		float: left;
		width:70%;
		height: 100vh;
		padding:110px 30px 10px 50px;
		position: fixed;
		overflow:scroll;
		top:0;
		right:1;
	}
}

.errorMsg {
	color:red;
	font-size: small;
}
#recomIdCheck, #recomYearCheck, #recomSessionCheck, #recomParagraphCheck, #recomStatusCheck, #recomTitRecomSpCheck, #recomRecomSpCheck, #recomTitRecomEnCheck, #recomRecomEnCheck {
	font-weight: 300;
	color:blue;
}